<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Control</servlet-name>
        <servlet-class>Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Active</servlet-name>
        <servlet-class>Allow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allow</servlet-name>
        <servlet-class>Allow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlBooking</servlet-name>
        <servlet-class>ControlBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingFilter</servlet-name>
        <servlet-class>BookingFilter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Active</servlet-name>
        <url-pattern>/Active</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allow</servlet-name>
        <url-pattern>/Allow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlBooking</servlet-name>
        <url-pattern>/ControlBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingFilter</servlet-name>
        <url-pattern>/BookingFilter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
